[Unit]
Description=Solid Queue for cafe-grader
After=network.target

[Service]
# The user that runs your Rails application
# Updated for containerized environment
User=root

# The directory where your Rails application is deployed
WorkingDirectory=/cafe-grader/web

ExecStart=/bin/bash -lc 'bundle exec rails solid_queue:start'

# Set the Rails environment to production
Environment=RAILS_ENV=production

# Restart the service if it fails
Restart=on-failure
RestartSec=5s

# Standard output and error logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target